doctype html
html.light-theme.scrollbar-type-1.sb-darkViolet
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='/vendor/metro4/css/metro-all.min.css')
        link(rel='stylesheet', href='/css/index.css')

        //include favicon

        title= title

    body
        header.container-fluid
            div.row
                div.cell-md-3
                    div.logo-container.h-100.d-flex.flex-align-center.flex-align-start-md.flex-justify-center.flex-justify-start-md.flex-column
                        div.h5.text-light.no-wrap.mb-0.mt-2
                            span.fg-accent.text-bold APTOS
                            span.fg-warning MONITOR
                            small.ml-1.fg-normal#version #{version}
                        div.mt-1.text-small.text-upper(style="line-height: 1")
                            span Convenient monitoring of your Aptos node!
                        div
                            div.text-small.no-wrap.text-center.text-left-md
                                span Copyright &copy; 2022 by
                                a.ml-1(href="https://pimenov.com.ua") Serhii Pimenov

                div.cell-md-6
                    div.h1.mb-0.text-center#monitor-time
                    div.text-leader2.text-center
                        span node health:
                        span.ml-1#node-health Unknown

                div.cell-md-3
                    div.text-center.text-right-md.mt-2
                        div.text-small
                            span.ml-1.fg-normal#os-distro Unknown
                        div.text-small
                            span Server time:
                            span.ml-1#server-time.fg-accent.text-bold 00:00
                        div.text-small
                            span Server uptime:
                            span.ml-1#server-uptime.fg-accent.text-bold Unknown
                        div.text-small.no-wrap
                            span.ml-1#cpu-info.fg-normal Unknown

        section.container-fluid
            div.row
                div.cell-xl-9
                    div.row
                        div.cell-md-6.cell-lg-4#ledger-info
                            include ./blocks/ledger-info

                        div.cell-md-6.cell-lg-4#node-sync
                            include ./blocks/sync-status

                        div.cell-md-6.cell-lg-4#node-connections
                            include ./blocks/connections

                        div.cell-md-6.cell-lg-4
                            include ./blocks/requests

                        div.cell-md-6.cell-lg-4
                            include ./blocks/ledger-storage

                        div.cell-md-6.cell-lg-4
                            include ./blocks/jellyfish

                        div.cell-md-6.cell-lg-4
                            include ./blocks/metrics

                        div.cell-md-6.cell-lg-4
                            include ./blocks/send-data

                        div.cell-md-6.cell-lg-4
                            include ./blocks/rpc-bytes

                        div.cell-md-6.cell-lg-4
                            include ./blocks/rpc-messages

                        div.cell-md-6.cell-lg-4
                            include ./blocks/transactions

                        div.cell-md-6.cell-lg-4
                            include ./blocks/queues

                div.cell-xl-3
                    div.row
                        div.cell-xl-12.cell-md-6#ram-chart-group
                            include ./charts/ram-fill

                        div.cell-xl-12.cell-md-6#cpu-usage-group
                            include ./charts/cpu-usage

                        div.cell-xl-12.cell-md-6#cpu-load-group
                            include ./charts/cpu-load

                        div.cell-xl-12.cell-md-6#network-group
                            include ./charts/network

        script.
            globalThis.config = !{clientConfig}
            globalThis.dateFormat = !{dateFormat}
            globalThis.darkMode = false
            globalThis.chartLineColor = darkMode ? '#3c424b' : "#e5e5e5"
            globalThis.chartLabelColor = darkMode ? "#fff" : "#000"
            globalThis.chartBackground = darkMode ? "#22272e" : "#fff"
            globalThis.chartBorder = darkMode ? "#22272e" : "#fafbfc"


        script(src='/vendor/metro4/js/metro.js')
        script(src='/vendor/chart/chart.js')
        script(src='/js/charts.js')
        script(src='/js/console.js')
        script(src='/js/utils.js')
        script(src='/js/websocket.js')
        script(src='/js/metro.conf.js')
        script(src='/js/platform.js')
        script(src='/js/node-health.js')
        script(src='/js/memory.js')
        script(src='/js/cpu.js')
        script(src='/js/network.js')
        script(src='/js/ledger-info.js')
        script(src='/js/metrics.js')
